body{
    font-family: 'Montserrat', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,255);
}
.gradient {
    background: #81c764;
}

.dropdown-item{
    color: #81c764;
}

.vision{
    color: #fff;
    line-height: 1.5rem;
}


#history, #branches {
    font-size: 1rem;
    line-height: 1.5;
    color: green;
  }
  
#history #collapseExample.collapse:not(.show) {
    display: block;
    height: 3rem;
    overflow: hidden;
}
  
  #history #collapseExample.collapsing {
    height: 3rem;
  }
  
  #history a.collapsed:after {
    content: '+ Show More';
  }
  
  #history a:not(.collapsed):after {
    content: '- Show Less';
  }

  .custFoot a{
      color: #fff;
  }
  .copyright{
      color: green;
  }

  .slideshow-item {
    height: 443px;
  }

  .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }

  .map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }